<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/bootstrap/favicon.png">

    <title><%= @mytitle %></title>

    <!-- Bootstrap core CSS -->
    <link href="/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/bootstrap/css/sticky-footer.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="/bootstrap/js/html5shiv.js"></script>
      <script src="/bootstrap/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <!-- Wrap all page content here -->
    <div id="wrap">

      <!-- Begin page content -->
      <div class="container">
        <div class="page-header">
          <h1><%= @mytitle %></h1>
        </div>
        <%= @html_body %>
        <br>
        <a class="btn btn-default" href="../">更多该校文章</a>
        <a class="btn btn-default" href="/">主页</a>
        <br><br>
    </div>

    <div id="footer">
      <div class="container">
        <p class="text-muted credit">承办<a href="http://2u4u.com.cn">悠游网</a> 技术支持 <a href="#">xb</a>.</p>
      </div>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>
